body{
	width:900px;
	margin: 0px auto;
}
header{
	text-align:center;
}
fieldset{
	display:inline-block;
	width: 100%;
}

input[name=asignatura], input[name=profesor]{
	padding:2%;
	color:red;
	margin: 0 8%;
    font-size: 2rem;
}
input[name=from_proferor], input[name=from_asignatura]{
	padding:2%;
	color:red;
	margin-left: 25%;
    font-size: 1.5rem;
}

.wraper-documentacion{
	display:flex;
    height: 150px;
}
.wraper-documentacion div{
	padding-left:20%;
}

.inicio{
	left: 100%;
        position: relative;
}
footer{
	width: 100%;
    background:grey;
    height: 40px;
    display:inline-block;
    vertical-align:middle;
    text-align: center;
    
}

table{
    border: blue 1px solid;
}

td{
    border: deepskyblue 1px solid;
}