@charset "utf-8";
/* CSS Document */
h1{text-align:center;
}

.subtitulo{
	font-size:12px;
}

body{
	background-color:#FFC;
}

table td{
	text-align:center;
	border:1px #000099 dotted;
        

}

table .sin{
	border:0;
}

table .bot{
	padding:0 5px;
	display:inline;
	border:0;
}

table .primera_fila{
	font-size:1.5em;
	text-decoration:underline;
	background-color:#FC3;
        
        
}

.centrado{
	text-align:center;
}

.boton{
        padding:2%;
        color:red;
	font-size: 1.5rem;
        margin: 0 20px;
        cursor:pointer;
}

table .inicio{
        text-align: left;
        padding:2%;
}

table .resto_filas{
    text-align: left;
    padding: 1.5%;
}